@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.checkbox:checked + .label .ball {
  transform: translateX(19px);
}
/* Animations */
/* For Card1 */
#card1 {
  animation-name: example1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 10;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes example1 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 200px;
    top: 0px;
  }
}
/* For Card2 */
#card2 {
  animation-name: example2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes example2 {
  0% {
    right: 0px;
    top: 0px;
  }
  100% {
    right: 200px;
    top: 0px;
  }
}

/* For Card3 */
#card3 {
  animation-name: example3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes example3 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 200px;
    top: 0px;
  }
}
/* Media queries */
@media only screen and (max-width: 400px) {
  #card1 {
    animation: none;
  }
  #card2 {
    animation: none;
  }
  #card3{
    animation: none;
  }
}

.circle {
    border: 5px solid;
    border-image: linear-gradient(50%, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  }

.tash1{
    transition: all .2s linear;
}
.tash1 button{
    box-shadow: -10px 10px 10px 0px green; 
}
.tash1 button:hover{
    box-shadow: 0px 0px 10px 0px rgb(10, 215, 60);
}
.tash1:hover{
    transform: translate(0,-20px);
}

